/*
    UNIVERSAL
*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9ef;
}

.title {
    padding-bottom: 10px;
    color: #0c91e8;
}

*::-webkit-scrollbar {
    display: none;
}

.card {
    border-radius: 0;
}


/*
    NAVBAR
*/
.navbar {
    background-color: #000;
    color: #fff;
}

.navbar-item, .navbar-link {
    color: #fff;
    font-size: 13px;
}

.navbar-item:hover {
    font-weight: bold;
}

.navbar-drop {
    color: #000;
}

.button {
    font-size: 13px;
}


/*
    PROFILE INFO
*/
.profile {
    height: 91.3vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    overflow-y: scroll;
}

.profile-pic {
    margin-bottom: 40px;
}

.comments-btn {
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

.comment {
    margin: 0 20px 10px 20px;
}


/*
    BLOG
*/
.blogs {
    height: 91.3vh;
    padding: 50px;
    overflow-y: scroll;
}

.blog-container {
    width: 100%;
    align-items: left;
    padding: 40px;
}

.button-container {
    padding: 0 40px;
}

.button-container button {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    font-size: 13px;
}

.image img {
    object-fit: cover;
}

.blog-card {
    margin-bottom: 20px;
}


/*
    FOOTER
*/
footer {
    height: 30px;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding-top: 8px;
}