{% extends "base.html.twig" %}
    {% block body %}
    <div class="row">
            This is the profile page of {{ user.name }} who has {{ user.clients|length }} clients.
    </div>
<div class="row">
    <ul>
        {% for client in user.clients %}
            <li>{{ clients.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}