{% extends "base.html.twig" %}
    {% block body %}
        <!-- * MAIN CONTENT -->

        <div class="columns is-desktop">

            <!-- PROFILE INFO -->
            <div class="column is-one-quarter profile">

                <figure class="image is-1x1 profile-pic">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
                </figure>

                <h1 class="title is-3">{{ user.name }}</h1>
                <h1 class="subtitle is-4">{{ user.name }}@gmail.com</h1>
                <h1 class="subtitle is-5">who has {{ user.clients|length }} clients.

                <button class="button is-info edit-btn">
                    <strong>
                        Edit my Profile
                    </strong>
                </button>

            </div>

            <!-- COMMENTS HISTORY -->
            <div class="column comments">

                <div class="container">
                    <h1 class="title is-3 is-size-6-mobile">Your comment history</h1>

                    <!-- ONE COMMENT -->
                    <div class="card comment">
                        <div class="card-content">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Apple offers fixes for battery drain and...</strong><small>12 August
                                                2020</small>
                                            <br>
                                            I will always support Apple, they always fix the problems in their updates!
                                        </p>
                                    </div>

                                    <div class="level-left">
                                        <button class="level-item button is-info">
                                            See more
                                        </button>
                                    </div>

                                </div>
                                <div class="media-right">
                                    <button class="delete"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ONE COMMENT -->
                    <div class="card comment">
                        <div class="card-content">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Apple offers fixes for battery drain and...</strong><small>12 August
                                                2020</small>
                                            <br>
                                            I will always support Apple, they always fix the problems in their updates!
                                        </p>
                                    </div>

                                    <div class="level-left">
                                        <button class="level-item button is-info">
                                            See more
                                        </button>
                                    </div>

                                </div>
                                <div class="media-right">
                                    <button class="delete"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ONE COMMENT -->
                    <div class="card comment">
                        <div class="card-content">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Apple offers fixes for battery drain and...</strong><small>12 August
                                                2020</small>
                                            <br>
                                            I will always support Apple, they always fix the problems in their updates!
                                        </p>
                                    </div>

                                    <div class="level-left">
                                        <button class="level-item button is-info">
                                            See more
                                        </button>
                                    </div>

                                </div>
                                <div class="media-right">
                                    <button class="delete"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ONE COMMENT -->
                    <div class="card comment">
                        <div class="card-content">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Apple offers fixes for battery drain and...</strong><small>12 August
                                                2020</small>
                                            <br>
                                            I will always support Apple, they always fix the problems in their updates!
                                        </p>
                                    </div>

                                    <div class="level-left">
                                        <button class="level-item button is-info">
                                            See more
                                        </button>
                                    </div>

                                </div>
                                <div class="media-right">
                                    <button class="delete"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ONE COMMENT -->
                    <div class="card comment">
                        <div class="card-content">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-96x96">
                                        <img src="https://bulma.io/images/placeholders/128x128.png">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Apple offers fixes for battery drain and...</strong><small>12 August
                                                2020</small>
                                            <br>
                                            I will always support Apple, they always fix the problems in their updates!
                                        </p>
                                    </div>

                                    <div class="level-left">
                                        <button class="level-item button is-info">
                                            See more
                                        </button>
                                    </div>

                                </div>
                                <div class="media-right">
                                    <button class="delete"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- * END OF MAIN CONTENT -->
    {% endblock %}